.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 500px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

input:focus {
    border: 1px solid #00adb5;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.field_row {
    display: flex;
    gap: 8px;
}

.field_row .field {
    flex: 1;
}

.checkbox_container div > label, .radio_container div > label {
    margin-left: 5px;
}

.buttons_container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.button {
    height: 30px;
    padding: 0 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #00adb5;
    color: #eee;
}

.button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}