* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: #222831;
  font-family: Inter, sans-serif;
  color: #eeeeee99;
}

a {
  color: #00adb5;
}

h1 {
  margin-bottom: 1rem;
}

.header {
  padding: 1.5rem 3rem;
  border-bottom: 1px solid #eeeeee66;
  height: 130px;
}

.header h1 {
  color: #00adb5;
}

.header h2 {
  font-weight: normal;
  font-family: Nunito, sans-serif;
  color: #00adb5cc;
}

.main {
  display: flex;
  width: 100vw;
  height: calc(100vh - 130px);
}

.main h1 {
  color: #eeeeee;
  font-size: 28px;
}

.main h2 {
  color: #00adb5;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
}

.content {
  padding: 2rem;
  max-width: 800px;

  display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sidenav {
  width: 300px;
  height: 100%;

  padding: 1rem;
  background-color: #15202b;
  color: #eeeeee99;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidenav a {
  padding: 0.5rem;
  color: #eeeeeeaa;
  text-decoration: none;
}

.sidenav a:hover {
  filter: brightness(0.9);
  background-color: #eeeeee11;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.5rem;
  border-top: 1px solid #eeeeee66;
  gap: 0.5rem;
}

